{% extends "layout.html" %}

{% block body %}

    <h3 align="Center">Hakkında bölümü</h3>
    <hr>
    <div class="card mb-3">
    <img src="{{url_for('static', filename='photos/nlp.png')}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">NLP Bitirme</h5>
        <p class="card-text">Ahmet Sayar NLP bitirme projesi hakkında kısmı yazılar....</p>
        <p class="card-text"><small class="text-muted">Grup bilgisi vs...</small></p>
    </div>
</div>
    
{% endblock %}