{% extends "layout.html" %}


{% block body %} 
    <h3>Anasayfa</h3>
    <hr>
    <div class="jumbotron">
        <h5 align="Center">Kelime girişi yapın</h5>
        <br>
        <form method="POST" action="/" align="Center">
            {{ form.csrf_token }}
            {{ form.name(size=20) }}
            <input type="submit" class="btn btn-success" value="Giriş">
        </form>

        <hr>

       {% if data and result %}
           {% for item in data %}
               <ul> <li>{{item}} ------------->{{result[loop.index0][0][0]}}
                     
                {% if result[loop.index0][1][0] %}
                <b>Diğer Tahminler:</b>
                {{result[loop.index0][1][0]}},

                {% if result[loop.index0][2][0] %}
                {{result[loop.index0][2][0]}}
                {% endif %}

               {% endif %}</li> </ul>
           {% endfor %}
       {% else %}
           
       {% endif %}
    </div>
    
{% endblock %}